.nav-bag {
    display: flex;
    align-items: center;
}

.bag-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: yellow;
    font-size: 14px;
    font-weight: 700;
    color: black;
    margin-left: 5px;
}